<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="login.scss">
</head>
<body>
    <div class="login-wrapper">
        {{> title title="Sign In"}}
        <form>
            {{> input id="login" label="Login" placeholder="Your login"}}
            {{> input id="password" label="Password" type="password" placeholder="1234"}}
            {{> button id="enter" caption="Enter"}}
        </form>

        {{> link href="#" alt="register" text="Create account?"}}
    </div>
    <script src="login.js"></script>
</body>
<html>