@import "../../global.scss";

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: $largeGap;
    margin-bottom: $largeGap;
}

.label,
.input {
    flex: 0 0 45%;
}

.error {
    flex: 0 0 100%;
    visibility: hidden;
    color: $lightRed;
}

.input {
    border: 1px solid black;
    border-radius: $smallGap;
    padding: $smallGap;

    &:focus-visible {
        outline: none;
    }

    &:focus,
    &:active {
        border-color: $lightGreen;
    }

    &.invalid {
        background-color: $lightBrown;
        border-color: $lightRed;

        &+.error {
            visibility: visible;
        }
    }
}
