@import "../../global.scss";

.inputs {
    display: flex;
    flex-direction: column;
    gap: $largeGap;
    margin-bottom: 30px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $middleGap;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    &:focus-visible {
        outline: none;
    }

    &:focus,
    &:active {
        border-color: aquamarine;
    }

    &.invalid {
        background-color: ivory;
        border-color: red;
    }
}
