<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <h1>Register</h1>
        <form>
            <div>
                <label for="username">User name</label>
                <input id="username"/>
            </div>

            <div>
                <label for="password">Password</label>
                <input id="password" type="password"/>
            </div>

            <div>
                <label for="password">Repeat password</label>
                <input id="password" type="password"/>
            </div>
            <button>Create account</button>
        </form>

        <a href="login" alt="login">Login</a>
    </div>
</body>
<html>