---
id: "root" 
---
<html>
    <head>
        <link rel="preload" href="src/style.scss" as="style" onload="this.rel='stylesheet'">
        <script src="src/index.js" type="module"></script>
    </head>
    <body class="bodyTest">
        <div id="{{ id }}">5</div>
    </body>
</html> 