@import "../../global";

.button {
    border: none;
    border-radius: 8px;
    padding: $large-gap 0;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.button-green {
    background: linear-gradient(to right, $light-green, $dark-green);
}
