@import "../../global.scss";

.button {
    border: none;
    border-radius: 8px;
    padding: $largeGap 0;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.button--green {
    background: linear-gradient(to right, $lightGreen, $darkGreen);
}
