.chat-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.menu {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: $largeGap;

    max-width: 400px;
    padding: $middleGap;
    border-right: 1px solid $lightGreen;
}

.menu-profile {
    margin-left: auto;
}

.menu-header {
    display: flex;
    gap: $middleGap
}

.contacts {
    list-style-type: none;
}

.chat {
    flex-grow: 1;
    padding: $middleGap;
    padding-right: $largeGap;
}

.chat--empty {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
