<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        Profile page
        <a href="chat">Back</a>
        <a href="login">Logout</a>
    </div>
</body>
<html>