@import "../../global";

.profile-header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.back {
    position: absolute;
    left: 0;
}

.inputs {
    min-height: 350px;
    max-width: 500px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: $small-gap;

    min-height: 65px;
}

.save {
    min-width: 300px;
}

.cancel {
    text-align: center;
}

.avatar:hover {
    cursor: pointer;
}

.file-uploader {
    display: none;
}

.avatar-wrapper {
    max-width: 100px;
    max-height: 100px;
}
