@import "../../global";

.contact-wrapper {
    display: flex;
    align-items: center;
    column-gap: $middle-gap;

    height: 70px;
    border-top: 1px solid $light-green;
    padding: $middle-gap;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: $light-green;
    }

    &:last-child {
        border-bottom: 1px solid $light-green;
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.chat-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::first-letter {
        text-transform: capitalize;
    }
}

.last-message {
    inline-size: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.unread-count {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: $small-gap;
    background-color: $dark-green;
    border-radius: 50%;

    margin-left: auto;
}

.avatar {
    max-width: 30px;
    max-height: 30px;
}
