// Colors
$light: #FFF;
$light-green: #79db9d;
$dark-green: #118c90;
$light-red: red;
$light-brown: ivory;

// Gaps
$large-gap: 16px;
$middle-gap: 10px;
$small-gap: 5px;

body {
    margin: 0;
    overflow-x: hidden;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

a:link {
    text-decoration: none;
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: $middle-gap;
    margin-bottom: $large-gap;
    margin-left: $middle-gap;
}

.form-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 340px;
    height: 550px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: $light;
    box-shadow: 0 0 6 rgba(0 0 0 / 14%);
    border-radius: 12px;

    &--large {
        width: 600px;
        height: 700px;
    }
}

.hide {
    display: none !important;
}

.clickable-text {
    color: $light-green;

    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        color: $dark-green;
    }
}
