//Colors
$light: #FFFFFF;
$lightGreen: #79db9d;
$darkGreen: #118c90;
$lightRed: red;
$lightBrown: ivory;

//Gaps
$largeGap: 16px;
$middleGap: 10px;
$smallGap: 5px;

body {
    margin: 0;
    overflow-x: hidden;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.navigation {
    display: flex;
    list-style-type: none;
    gap: $middleGap;
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 340px;
    height: 450px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: $light;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    &--large {
        width: 600px;
        height: 700px;
    }
}

.hide {
    display: none;
}
